@charset "UTF-8";

html {
  font: 100%/1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  color: #5876a3;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.7142857143;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



a {
  color: #0070d2;
  text-decoration: none;
  transition: color .1s linear;
  background-color: transparent;
  max-width: 100%;
  height: auto;
  border: 0;
}

img {
  vertical-align: middle;
}


/*header */
.lauding-header-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    position: fixed;
    background-color: #f9fbfe;
    z-index: 2;
    top: 0;
}

.logo {
  width: 112px;
}

.landing-header__link {
  font-size: 14px;
  color: #2b546a;
  line-height: 40px;
  padding: 0 16px;
  margin: 0 8px;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
}

.kNgSxG {
  display: inline-block;
  text-align: center;
  padding: 0px 16px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(255, 255, 255);
  background-color: rgb(48, 200, 214);
  font-size: 0.75rem;
  min-width: 110px;
  line-height: 40px;
  font-family: AvenirNext, Lato, "Hirago KakuGothic ProN", Meiryo, sans-serif;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

/* main */
.landing-introduction__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: .03em;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 4.16%;
}